*************************************************************************************************
*                                                                                               *
* DRILL TAPE SUMMARY REPORT                                                                     *
*                                                                                               *
* C:\USERS\ADMIN\DESKTOP\WEATHERSTATION\WEATHERSTATION-\SCHEMATIC\CAPTURE\WEATHERSTATION-1.MAX  *
* Tue May 11 10:39:04 2021                                                                      *
*                                                                                               *
*************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      4        200      100                                                                                 
T2       380      10       200      100                                                                                 
T3       420      51       200      100                                                                                 
